.container_hero {
  position: relative;
  background: url('../../assets/bg.png'), linear-gradient(180deg, #41677F 0%, #3F657C 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.75rem;
  padding-bottom: 8rem;
  overflow: hidden;
}

.container_hero::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
  z-index: 1;
}

.title {
  font-size: 3.4rem;
  font-weight: 800;
  color: #001F3F;
}

.title span {
  color: #11E956;
}

.container_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_esclamacao {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container_button_hero {
  margin-top: 4.28rem;
}

.container_button_hero button {
  background-color: #11E956;
  width: 240px;
  height: 46px;
  border: none;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #001F3F;
}

.hero_image {
  width: 424px;
  height: 384px;
}

@media(max-width: 768px) {
  .container_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.75rem;
  }
  .title {
    text-align: center;
    font-size: 3rem;
  }
  .container_esclamacao {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .container_button_hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .img_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero_image {
    width: 324px;
    height: 284px;
  }
}